@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --headerColor:#002347;
    --loginBoxColor: #023047;
    --loginText:#707070;
}


::-webkit-scrollbar{
  width: 6px;
  margin: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 12px;
}
::-webkit-scrollbar-track{
  margin: 10px;
}


/*  Header  */
.header{
    background-color: #002347;
    height: 12vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 5%;
    position: relative;
}
.header .logo {
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

.header .logo img{
    height: 100%;
    width: 100%;
    margin-right: 10px;
}

.header .qcu h1{
    letter-spacing: 2px;
    font-size: 18px;
    color: white;
}

.header .qcu h1 span{
    font-size: 16px;
    font-weight: normal;
}



.header .logout{
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(0, -50%);
  
}

.logout .dropdown{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40px;
  right: 0;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  min-width: 100px;
  width: max-content;
  line-height: 32px;
  overflow: hidden;
}

.logout .dropdown a{
  text-decoration: none;
  color: #000;
  width: 100%;
  text-align: center;
}

.logout .dropdown a:hover{
  background-color: #0023474d;
}

.logout .dropdown.active{
  display: flex;
}
.logout .dropdown .changepass{
  font-size: 14px;
  cursor: pointer;
  padding: 10px 15px;
}

.logout .dropdown .logout_btn{
  width: 100%;
}

.logout .dropdown .logout_btn .log_btn{
  outline: none;
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 10px 15px;
}

.logout .dropdown .changepass:hover,
.logout .dropdown .logout_btn .log_btn:hover{
  background: #002347;
  color: #fff;
}


.logout .btn_logout{
  cursor: pointer;
  padding: 5px 10px;
  font-size: 18px;
  filter: invert(1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
}
.logout .btn_logout p{
  margin: 0 10px;
}
.logout .btn_logout .profile{
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  filter: invert(1);
}

.logout .btn_logout .profile img{
  width: 100%;
  height: 100%;
}








main{
  height: 88vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: rgb(210, 210, 210);;
}

main .selected{
  border-bottom: 3px solid var(--headerColor);
}

main .topnav{
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .topnav a{
  text-decoration: none;
  color: var(--headerColor);
}

main .container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  padding: 0 10%;
}

main .container .content{
  background-color: #fff;
  width: 100%;
  height: 450px;
  margin: 0 2%;
  overflow-y: scroll;
  padding: 2%;
  border-radius: 7px;
}

main .container .content.home1-content{
  width: 60%;
}



main .container .content .announce{  
  width: 100%;
  height: max-content;
  background-color: #afafaf;
  padding: 2%;
  font-size: .9em;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


main .container .content .announce .announce-input{
  text-align: justify;
  margin-right: 20px;
  font-weight: 400;
 
}  
main .container .content .announce .announce-input p{
  font-size: .9rem;
}


main .container .content .announce .img{
  width: 40%;
}  

main .container .content .announce .img img{
  width: 100%;
  height: 100%;
}




main .container .announce-content{
  overflow: hidden;
  border-radius: 7px;
  padding: 2% 4%;
}


main .container .announce-content form textarea{
  padding: 10px;
  outline: none;
  font-size: 1em;
  resize: none;
  width: 100%;
  height: 280px;
  margin-top: 20px;
}

main .container .announce-content form input{
  display: flex;
  float: right;
  background-color: var(--headerColor);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1em;
  margin-top: 10px;
}






















/*  announcement page - announcement content  */
