@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --headerColor:#002347;
    --loginBoxColor: #023047;
    --loginText:#707070;
}

/*  Header  */
.header{
    background-color: #002347;
    height: 12vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 5%;
}
.header .logo {
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

.header .logo img{
    height: 100%;
    width: 100%;
    margin-right: 10px;
}

.header .qcu h1{
    letter-spacing: 2px;
    font-size: 18px;
    color: white;
}

.header .qcu h1 span{
    font-size: 16px;
    font-weight: normal;
}


main{
  height: 88vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: rgb(210, 210, 210);;
}

main .topnav{
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .topnav a{
  text-decoration: none;
}

main .container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  padding: 0 10%;
}

main .container .content{
  background-color: #fff;
  width: 100%;
  height: 450px;
  margin: 0 2%;
  overflow-y: scroll;
  padding: 2%;
}

main .container .content.home1-content{
  width: 60%;
}



main .container .content .announce{  
  width: 100%;
  height: max-content;
  background-color: #afafaf;
  padding: 2%;
  font-size: .9em;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


main .container .content .announce .announce-input{
  text-align: justify;
  margin-right: 20px;
  font-weight: 400;
 
}  
main .container .content .announce .announce-input p{
  font-size: .9rem;
}


main .container .content .announce .img{
  width: 40%;
}  

main .container .content .announce .img img{
  width: 100%;
  height: 100%;
}

























/*  announcement page - announcement content  */
  .container .announce-content{
    display: flex;
    margin: auto;
    width: 55vw;
    height: 32vw;
    background-color:#ffffff;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

  .container .announce-content form input[name='title']{
    width: 350px;
    height: 35px;
  }

  .container .announce-content form input[name='url']{
    width: 290px;
    height: 35px;
  }

  .container .announce-content form textarea {
    width: 620px;
    height: 260px;
  }

  .container .announce-content form input[type='file']{
    width: 200px;
    font-size: .9em;
    padding: 8px;
    margin-left: 34px;
  }

  .container .announce-content form input[type='submit']{
    background: #002347;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 23px;
    margin-top: 18px;
    transition: background ease .3s;
  }
  


/*  change pass page  */
  .container .pass-content{
    margin-top: 80px;
    display: flex;
    margin-left: 310px;
    width: 32vw;
    height: 25vw;
    background-color:#ffffff;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.container .pass-content section h3{
    margin-bottom: -10px;
    margin-top: -5px;
    letter-spacing: 1px;
}

.container .pass-content section form label{
    letter-spacing: 2px;
    font-size: 14px;
}

.container .pass-content section form label span{
    letter-spacing: 2px;
    font-size: 10px;
    color: #b6b5b5;
}

.container .pass-content section form input{
    height: 35px;
    width: 350px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 7px;
    font-size: 16px;
}

.container .pass-content section form input[type='submit']{
    background: #11af2c;
    width: 120px;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 228px;
    margin-top: 7px;
    transition: background ease .3s;
  }
  


/*  change pass page - change profile  */
.container .pass1-content{
    display: flex;
    margin-top: -342px;
    margin-left: 770px;
    width: 21vw;
    height: 25vw;
    background-color:#ffffff;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.container .pass1-content form img{
    margin-left: 90px;
    height: 100px;
    width: 100px;
    border-radius: 150px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.container .pass1-content form input[type='file']{
    width: 200px;
    font-size: .9em;
    padding: 8px;
    margin-left: 47px;
  }
