
*{
   padding: 0;
   margin: 0;
   font-family: 'Poppins', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
   box-sizing: border-box;
}

::-webkit-scrollbar{
   width: 6px;
   margin: 10px;
}

::-webkit-scrollbar-thumb{
   background-color: rgba(0, 0, 0, 0.425);
   border-radius: 12px;
}
::-webkit-scrollbar-track{
   margin: 10px;
}


main{
   display: flex;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background-color: #f1f1f1;
}


/* max */
section.left-dashboard{
   width: 20%;
   height: 100%;
   overflow: hidden;
   background-color: #fff;
   box-shadow: 0 0 13px 0 rgba(0,0,0,.2);
}

section.left-dashboard .left-header{
   background-color: #002347;
   padding: 15px;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

section.left-dashboard .left-header .burger-icon{
   cursor: pointer;
}

section.left-dashboard .left-header .qcu-title{
   display: flex;
   align-items: center;
}

section.left-dashboard .left-header .qcu-title img{
   width: 40px;
   margin-right: 5px;
}
section.left-dashboard .left-header .qcu-title .text{
   line-height: 16px;
}
section.left-dashboard .left-header .qcu-title .text h3{
   font-size: .9em;
   font-weight: 600;
} 

section.left-dashboard .left-header .qcu-title .text p{
   font-size: .8em;
}


.left-dashboard nav{
   
   margin-top: 50px;
  
}

.left-dashboard nav .selected{
   cursor: pointer;
   background-color: #023047;
}

.left-dashboard nav .selected img, .selected h1{
   filter: invert(1);
}

.left-dashboard nav .nav-link{
   display: flex;
   align-items: center;
   padding: 20px 15%;
}

.left-dashboard nav .nav-link:hover{
   cursor: pointer;
   background-color: #023047;  
}

.left-dashboard nav .nav-link:hover img, .nav-link:hover h1{
   filter: invert(1);
}


.left-dashboard nav .nav-link img{
   width: 25px;
   height: 25px;
   margin-right: 15px;
}

.left-dashboard nav .nav-link h1{
   font-size: 1.2em;
   letter-spacing: .5px;
   font-weight: 500;
}

.left-dashboard nav .nav-link .drop-down-about{
   display: flex;
   align-items: center;
}


.left-dashboard nav .nav-link .drop-down-about img{
   width: 15px;
   height: 15px;
   margin-left: 10px;
   transform: rotate(180deg);
}

.left-dashboard nav .about{
   position: relative;
   display: flex;
   align-items: center;
}
.left-dashboard nav .about .secondary-nav-about{
   position: absolute;
   top: 100%;
   left: 25%;
   display: none;
}

.left-dashboard nav .about .secondary-nav-about .sec-nav-link{
   margin: 12px 0;
}

.left-dashboard nav .about .secondary-nav-about .sec-nav-link h2{
   font-size: 1em;
   font-weight: 400;
}













section.center-information{
   width: 55%;
   height: 100vh;
}

section.center-information .center-header{
   padding: 10px 20px;
   font-size: 1em;
   height: 7vh;
   display: flex;
   align-items: center;
   justify-content: right;
   
}

section.center-information .center-header p span:first-child{
   border-right: 2px solid rgba(0, 0, 0, 0.527);
   padding-right: 5px;
}







/* DASHBOARD CONTAINER */

.center-content div .title-header{
   display: flex;
   align-items: center;
   height: max-content;
}

.center-content  div .title-header h2{
   width: max-content;
   min-width: 35%;
   letter-spacing: 1px;
   margin-right: 10px;
}

.center-content div .title-header hr{
   width: 100%;
   border: 1px solid rgb(59, 59, 59);
}









.center-content .dashboard-container{
   height: 100vh;
   width: 100%;
   display: none;
   flex-direction: column;
   
}

.center-content .dashboard-container .overview{
   padding: 0 4%;
   padding-bottom: 10%;
   height: 95%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.center-content .dashboard-container .overview .summary-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 20vh;
}

.center-content .dashboard-container .overview .summary-container .summary-box{
   width:  32%;
   height: 100%;
   background-color: rgb(192, 74, 74);
   color: #000;
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2%;
}

.center-content .dashboard-container .overview .summary-container .summary-box.students{
   background-color: rgb(255, 99, 132);
}
.center-content .dashboard-container .overview .summary-container .summary-box.dept-head{
   background-color: rgb(54, 162, 235);
}
.center-content .dashboard-container .overview .summary-container .summary-box.admin-assist{
   background-color: rgb(238, 182, 53);
}



.center-content .dashboard-container .overview .summary-container .summary-box .icon {
   width: 80px;
   height: 80px;
}

.center-content .dashboard-container .overview .summary-container .summary-box .icon img{
   width: 100%;
   height: 100%;
   filter: invert(1);
}

.center-content .dashboard-container .overview .summary-container .summary-box .summary-info{
   text-align: center;
   color: #fff;
}

.center-content .dashboard-container .overview .summary-container .summary-box .summary-info h1{
   font-size: 2em;
}

.center-content .dashboard-container .overview .summary-container .summary-box .summary-info p{
   font-size: 1.1em;
}




.center-content .dashboard-container .overview .charts{
   margin: 20px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.center-content .dashboard-container .overview .charts .box{
   width: 47%;
   min-height: 310px;
   height: max-content;
   background-color: #ffffff;
   border-radius: 7px;
   box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.13);
   padding: 3%;
}


























section.right-dashboard{
   width: 25%;
   height: 100%;
   background-color: #fff;
   display: flex;
   flex-direction: column;
}

section.right-dashboard .right-header{
   background-color: #002347;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 30px;
}

section.right-dashboard .right-header .icon-profile{
   display: flex;
   align-items: center;
}

section.right-dashboard .right-header .icon-profile .profile-img{
   width: 30px;
   height: 30px;
   border-radius: 50%;
   overflow: hidden;
   margin-right: 10px;
   border: 2px solid #fff;
   display: flex;
   align-items: center;
   justify-content: center;
}

section.right-dashboard .right-header .icon-profile .profile-img img{
   width: 140%;
   height: 140%;
}

section.right-dashboard .right-header .icon-profile h3{
   letter-spacing: 1px;
   font-weight: 600;
   font-size: .9em;
}

section.right-dashboard .right-header .icon-setting{
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   transition: background ease-in-out .2s;
   cursor: pointer;
}

section.right-dashboard .right-header .icon-setting a{
   display: flex;
   align-items: center;
   justify-content: center;
}


section.right-dashboard .right-header .icon-setting:hover{
   background-color: rgba(0, 0, 0, 0.226);
}

section.right-dashboard .right-header .icon-setting a img{
   width: 50%;
   height: 50%;
   filter: invert(1);
}




.right-dashboard .student-activity{
   height: 48%;
   padding: 10px 15px;
}

.right-dashboard .student-activity .activities{
   width: 100%;
   height: 65%;
   margin-top: 5px;
   overflow-y: scroll;
   overflow-x: hidden;
}

.right-dashboard .student-activity .activities .user-info{
   background-color: #e5e5eb;
   display: flex;
   align-items: center;
   border-radius: 5px;
   padding: 5px;
   margin: 10px 0;
}

.right-dashboard .student-activity .activities .user-info img{
   width: 40px;
   height: 40px;
   margin-right: 10px;
}

.right-dashboard .student-activity .activities .user-info .user-text{
   font-size: .85em;
   letter-spacing: .5px;
   line-height: 18px;
}

.right-dashboard .student-activity .activities .user-info .user-text p{
   font-size: .81em;
   letter-spacing: 0;
}